waitress==3.0.0
flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
flask-sqlalchemy==3.1.1
greenlet==2.0.1
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.3
MarkupSafe==2.1.1
Pillow==9.3.0
werkzeug==3.0.1
requests==2.31.0
bcrypt==4.1.2
SQLAlchemy==2.0.23
flask-sqlalchemy==3.1.1
psycopg2-binary==2.9.9
python-dateutil==2.9.0
redis==5.0.8
gunicorn
