{% extends "layout.html" %}
{% block content %}
<link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet' />
<link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Calendar</h3>
        <h6 class="op-7 mb-2">All event calendar</h6>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
        <a id="btnBack" href="javascript:history.back()" class="btn btn-label-info btn-round me-2">Back</a>
    </div>
</div>
<div class="row">
    <div class='container-fluid'>
        <div id='calendar'></div>
    </div>
</div>

<script src='/static/fullcalendar/packages/core/main.js'></script>
<script src='/static/fullcalendar/packages/interaction/main.js'></script>
<script src='/static/fullcalendar/packages/daygrid/main.js'></script>
<script src='/static/fullcalendar/packages/timegrid/main.js'></script>
<script src='/static/fullcalendar/packages/list/main.js'></script>

<script>
	let today = new Date();
	let dd = today.getDate();
	let mm = today.getMonth() + 1;
	let yyyy = today.getFullYear();
	if (dd < 10) {
		dd = '0' + dd;
	}
	if (mm < 10) {
		mm = '0' + mm;
	}
	var thisday = yyyy + '-' + mm + '-' + dd;
	// console.log(thisday);
    document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		$.getJSON("/calendar/api/all", function (data, status) {
			if (status == 'success') {
				// console.log(data);
				var calendar = new FullCalendar.Calendar(calendarEl, {
					plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
					height: 'parent',
					header: {
						left: 'prev,next today',
						center: 'title',
						right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
					},
					defaultView: 'dayGridMonth',
					defaultDate: thisday,//'2024-06-18',
					navLinks: true, // can click day/week names to navigate views
					editable: true,
					eventLimit: true, // allow "more" link when too many events
					events: data
				});
				calendar.render();
			}
		})
	});
    </script>
{% endblock %}
