{% extends "layout.html" %}
<script src="/static/js/main.min.js"></script>
{% block content %}
<form action="/update" method="post" class="row g-3 needs-validation">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3"><i class="fas fa-info-circle"></i> Details</h3>
            <h6 class="op-7 mb-2">Specific event details</h6>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a id="btnDelete" href="#" class="btn btn-label-info btn-round me-2" onclick="deleteItem('{{event.id}}')" {%
                if type=='Prayer' %} hidden {% endif %}>Delete</a>
            <button id="btnSave1" class="btn btn-label-info btn-round me-2" type="submit" hidden>Save</button>
            <a id="btnBack" href="javascript:history.back()" class="btn btn-label-info btn-round me-2">Back</a>
        </div>
    </div>
    <div class="row">
        <input name="id" value="{{event.id}}" type="hidden" />
        <div class="input-group mb-3">
            <label class="input-group-text" for="name">Name:</label>
            <input class="form-control" type="Text" name="name" id="name" maxlength="40" onchange=" editEnable()"
                value="{{event.name}}" required>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Text:</label>
            <textarea class="form-control" wrap="soft" type="Text" name="text" id="text" rows='5'
                onchange="editEnable()" required>{{event.text}}</textarea>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Type:</label>
            <input type="hidden" class="form-control" id="type" name="type" value='{{event.type}}'>
            <input type="text" class="form-control" id="Ttype" name="Ttype" value='{{event.event_type.name}}' readonly>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Repeat:</label>
            <input type="hidden" class="form-control" id="repeat" name="repeat" value='{{event.repeat}}'>
            <input type="text" class="form-control" id="Trepeat" name="Trepeat" value='{{event.event_repeat.name}}'
                readonly>
            </select>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Execute:</label>
            <input class="form-control" type="hidden" name="execute" id="execute" value='{{event.execute}}' />
            <input class="form-control" type="text" name="execute_dec" id="execute_dec" value='{{execute}}' readonly>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Parent:</label>
            <input class="form-control" type="Text" name="parent" id="parent" value='{{event.parent}}' readonly>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Created Date:</label>
            <input class="form-control" format="yyyy-MM-ddThh:mm:ss.SSS" type="Text" name="created_date"
                id="created_date" value='{{event.created_date}}' readonly>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Acknowledge Date:</label>
            <input class="form-control" type="Text" name="acknowledge_date" id="acknowledge_date"
                value='{{event.acknowledge_date}}' readonly>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Acknowledge Status:</label>
            <input class="form-control" type="Text" name="Acknowledge" id="Acknowledge" value='{{event.acknowledge}}'
                readonly>
        </div>
        <div class=" input-group mb-3">
            <label class="input-group-text" for="text">Created by:</label>
            <input class="form-control" type="Text" name="created_by" id="created_by"
                value='{{event.created_by_user.username}}' readonly>
        </div>
    </div>
</form>
<script type="text/javascript">
    function editEnable() {
        document.getElementById("btnSave1").hidden = false;
        document.getElementById("btnDelete").hidden = true;
    }
    function deleteItem(id) {
        swal({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            type: "warning",
            buttons: {
                confirm: {
                    text: "Yes, delete it!",
                    className: "btn btn-success",
                },
                cancel: {
                    visible: true,
                    className: "btn btn-danger",
                },
            },
        }).then((Delete) => {
            if (Delete) {
                $.ajax({
                    url: "/?id=" + id,
                    type: "DELETE",
                    success: function (json) {
                        location.replace("/");
                    },
                    error: function (error) {
                        swal("Error!", JSON.stringify(error.message || "An unknown error occurred."), {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }
                });
                swal("Event has been deleted!", {
                    icon: "success",
                    buttons: {
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                });
            } else {
                swal.close();
            }
        });

    }
</script>
<script src="/static/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>
{% endblock %}